.testimonial__container {
    width: 750px;
}

.testimonial__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial__video {
    width: 350px;
    height: 200px;
    margin-bottom: var(--mb-1);

}

.testimonial__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

@media screen and (max-width: 992px) {


  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .testimonial__video {
        width: 280px;
        height: 200px;
        margin-bottom: var(--mb-1);
    
    }
  }
  
  @media screen and (max-width: 576px) {
    .testimonial__video {
        width: 320px;
        height: 190px;
        margin-bottom: var(--mb-1);
    
    }
    
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .testimonial__video {
        width: 240px;
        height: 170px;
        margin-bottom: var(--mb-1);
    
    }
  }